/*
|--------------------------------------------------------------------------
| Button Default
|--------------------------------------------------------------------------
*/
.el-button {
    //border-radius: 20px;
    border-radius: 2px;
    vertical-align: middle;
  
    font-weight: 400;
    font-size: 10px;
    box-sizing: border-box;
    border-width: 1px;
  
    &.fluid-width {
      min-width: auto;
    }
  
    [class^="el-icon-"]:before {
      font-size: 16px;
    }
  
    & + .el-button {
      margin-left: 0;
    }
  
    i.fa {
      margin-left: 3px;
      margin-right: 3px;
    }
  
    &.btn-small {
      font-size: 8px;
      margin: 1px;
      padding: 4px 2px;
    }
  
  }
  
  .el-button.is-plain:hover, .el-button.is-plain:focus {
    border-color: #7a9e9f;
    color: #3a75ba;
  }
  
  .el-input-group__append .el-button,
  .el-input-group__preppend .el-button,
  .el-button {
  
    &.el-button--default {
      background-color: transparent;
      border-color: green;
  
      &.is-disabled {
        color: #b4bccc !important;
        cursor: not-allowed !important;
        background-image: none !important;
        background-color: #fff !important;
        border-color: #e6ebf5 !important;
      }
    }
  
    &.el-button--primary {
      //background-color: $app-primary-color;
      //border-color: $app-primary-color;
      //color: #fff;
      background-color: #eef1f7;
      border-color: #eef1f7;
      color: #3a75ba;
  
  
      &.btn-o {
        background-color: transparent;
        border-color: #3a75ba;
        color: #3a75ba;
      }
  
      &.is-disabled {
        cursor: not-allowed !important;
        background-image: none !important;
        //background-color: lighten($app-primary-color, 30%) !important;
        //border-color: lighten($app-primary-color, 30%) !important;
        //color: lighten($app-primary-color, 10%) !important;
        background-color: lighten(#eef1f7, 2%) !important;
        border-color: lighten(#eef1f7, 2%) !important;
        color: lighten(#3a75ba, 37%) !important;
      }
    }
  
    &.el-button--success {
      background-color: #4072ee;
      border-color: #4072ee;
      color: #fff;
    }
  
    &.el-button--info {
      background-color: #ffd558;
      border-color: #ffd558;
      color: #fff;
    }
  
    &.el-button--warning {
      background-color: #d0490b;
      border-color: #d0490b;
      color: #fff;
    }
  
    &.el-button--danger {
      background-color: #de330d;
      border-color: #de330d;
    }
  
    &.el-button--text {
      color: #4072ee;
    }
  }
  
  .el-input-group__append {
    background-color: transparent;
    border: 0;
  
    .el-button {
      position: relative;
      top: 1px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
  
  .el-button.circle {
    display: inline-block;
    width: 36px;
    min-width: 36px;
    height: 36px;
    padding: 0;
  }
  
  .el-button.extra-mini {
    min-width: auto;
    font-size: 11px;
    padding: 5px;
  }
  
  .el-button.modal-size {
    width: 160px !important;
    min-width: 40px;
    height: 40px;
  
  }
  