.search-item{
    margin: 0 0 0 20%;
    .el-input {
        width: 600px;
    }
}

.slider-background {
    background-color: green;
}

.footer-img{
    margin-left: 5px;
}

.footer-right{
    float: right;
}
.footer-links{
    margin-left: 10px;
}